<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <!--<script src="main.js"></script>-->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <form action="/search/" method="GET"><input type="text" name="s" /><input type="submit" value="Search" /></form>
    </nav>

    <!-- Flash Message -->
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}
                        {{ message }}
                {% endfor %}

            {% endif %}        
        {% endwith %}
    </div>

    {% block login %}
    {% if loggedin %}
    <div id="userbox">
    <strong>User:</strong> {{username}}<br />
    <a href="/post/">Post</a>
    <a href="/logout/">Logout</a>
    </div>
    {% else %}
    <div id="loginbox">
        <a href="/login/">Login</a>
    </div>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    
</body>
</html>
